@import url('effects.css');

$mainColor: #f16d7f;
$secondColor: #222222;
$primaryColor: #ffffff;
$bordersColor: #ececec;

* {
  margin: 0;
  padding: 0;
}

.red-charachters {
  color: $mainColor
}

.btn_red {
  background-color: $mainColor;
  width: 130px;
  border-radius: 3px;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 32px;
  color: $primaryColor;
  font-weight: 400;
  justify-content: space-evenly;
  &:hover {
    transition: .3s;
    opacity: 0.8;
  }
}

body {
  font-family: Lato, sans-serif;
  a:hover, a:visited {
    text-decoration: none;
    color: unset;
  }
  a {
    text-decoration: none;
    color: unset;
  }
}

.grid-wrapper {
  display: grid;
  grid-template-rows: 100px 51px 1fr 540px;
  @media (max-width: 414px) {
    padding: 20px 0;
    grid-template-rows: unset;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  height: inherit;

  @media (max-width: 1112px) {
    max-width: unset;
    padding: 0 15px;
    box-sizing: border-box;
  }
}

.logo {
  display: flex;
  align-items: center;

  @media (max-width: 414px) {
    justify-content: center;
  }

  &__title {
    margin-left: 13px;
    color: $secondColor;
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.68px;
    line-height: 32px;
    text-align: center;

    span {
      font-weight: 900;
    }
  }
}

.search {
  height: 38px;
  display: flex;
  align-items: center;

  &__category {
    width: 87px;
  }

  &__btn {
    border-radius: 3px;
    padding: 0 12px;
    height: inherit;
    box-sizing: border-box;
    background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid $bordersColor;
    font-size: 14px;
    line-height: 32px;
    color: $secondColor;
    font-weight: 300;
    text-align: right;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__category > i {
    color: #838383;
  }

  input {
    height: inherit;
    outline: none;
    border: none;
    margin: 0;
    box-sizing: border-box;
    border-top: 1px solid $bordersColor;
    border-bottom: 1px solid $bordersColor;
    padding: 8px;
    width: 283px;
    @media (min-width: 767px) and (max-width: 1024px) {
      width: unset;
    }
    @media (max-width: 414px) {
      width: unset;
    }
  }

  &__btn {
    color: #a4a4a4;
  }
}

.header {

  &__container {
    display: grid;
    grid-template: 100px / 165px 404px 1fr;
    align-items: center;
    gap: 40px;

    @media (min-width: 767px) and (max-width: 1024px) {
      grid-template: 100px / 1fr 1fr 1fr;
    }

    @media (max-width: 414px) {
      grid-template-columns: 1fr;
      justify-items: center;
      grid-template: unset;
      padding-bottom: 20px;
    }
  }

  &__menu {
    justify-self: end;
    align-self: center;
    height: 38px;
    display: flex;
    @media (max-width: 414px) {
      justify-self: unset;
    }
  }

  &__cart-icon {
    margin-right: 15px;
    font-size: 30px;
    &:hover {
      animation: swing 0.6s ease;
      animation-iteration-count: 1;
    }
  }
}

.navigation {
  &__container {
    @media (max-width: 1112px) {
      padding-bottom: 15px;
    }
    display: flex;
    justify-content: center;
  }
}

.main-menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  max-width: 753px;
  width: 100%;
  @media (max-width: 414px) {
    align-items: center;
    flex-direction: column;
  }
  &__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    color: $secondColor;
    font-weight: 700;
    position: relative;
    &:after {
      opacity: 0;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-bottom: 2px solid #f16d7f;
      bottom: -5px;
      left: 0;
    }

    &:hover {
      color: $mainColor;
      transition: .3s;
      &:after {
        opacity: 1;
        transition: .3s;
      }
    }
  }
}

.promo {
  background: #e8e8e8;
  height: 615px;

  @media (max-width: 414px) {
    height: unset;
    padding: 15px;
  }

  &__container {
    background: url("../images/topHeaderBack.png") no-repeat top 0 right 30px;
    background-size: 50%;
    display: flex;
    align-items: center;
    @media (max-width: 414px) {
      all: unset;
    }
  }
  &__title {
    border-left: 8px solid $mainColor;
    padding-left: 8px;
    box-sizing: border-box;
    letter-spacing: 2px;
    color: #222222;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92px;
    margin-top: -60px;
    @media (max-width: 414px) {
      margin-top: unset;
    }


    &_top {
      font-size: 60px;
      line-height: 42px;
      @media (max-width: 414px) {
        font-size: 35px;
      }
    }

    &_bottom {
      font-size: 38px;
      line-height: 30px;
      @media (max-width: 1112px) {
        font-size: 22px;
      }
    }
  }
}

.offers {
  &_default {
    margin-top: 100px;
    @media (max-width: 414px) {
      margin-top: unset;
      padding-top: 20px;
    }
  }
  &__container {
      display: grid;
      grid-template-rows: repeat(3, 261px);
      grid-template-areas:
                          "offer-1 offer-3"
                          "offer-1 offer-4"
                          "offer-2 offer-4"

  ;
    gap:20px;
    @media (max-width: 414px) {
      all: unset;
      display: flex;
      flex-direction: column;
  }
  }

  &__item-1 {
    grid-area: offer-1;
    background: url("../images/offer1.jpg") no-repeat;
  }
  &__item-2 {
    grid-area: offer-2;
    background: url("../images/offer2.jpg") no-repeat;
  }
  &__item-3 {
    grid-area: offer-3;
    background: url("../images/offer3.jpg") no-repeat;
  }
  &__item-4 {
    grid-area: offer-4;
    background: url("../images/offer4.jpg") no-repeat;
  }
}

.offer {
  width: 560px;
  padding-top: 26px;
  box-sizing: border-box;
  text-decoration: none;
  @media (max-width: 414px) {
    width: 100%;
    height: 261px;
    background-position-x: -154px;
    margin-bottom: 15px;
    &:first-child , &:last-child {
      height: 542px;
    }
  }
  @media (min-width: 767px) and (max-width: 1112px) {
      width: 100%;
    background-position: center;
  }
  @media (min-width: 567px) and (max-width: 736px) {
    width: 100%;
    background-position: center;
  }
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: .3s;
  }

  & > * {
    display: inline-block;
  }

  &__label {
    background-color: #fff;
    padding: 16px 19px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
    @media (max-width: 414px) {
      opacity: .7;
      padding: 9px 10px;
    }
  }

  &__top-label {
    font-size: 18px;
    line-height: 14px;
    margin-bottom: 12px;
    @media (max-width: 414px) {
      font-size: 15px;
      line-height: 16px;
      margin-bottom: 6px;
    }
  }

  &__bottom-label {
    @media (max-width: 414px) {
        font-size: 16px;
      line-height: 5px;
      }

    font-size: 30px;
    color: $mainColor;
    line-height: 24px;
  }
}

.catalog {

  &_default {
    margin-top: 100px;
    @media (max-width: 414px) {
      margin-top: unset;
      padding-top: 20px;
    }
  }

  &__footer {
    margin-bottom: 110px;
    display: flex;
    justify-content: space-between;
    & button {
      padding: 16px 46px;
      box-sizing: border-box;
      height: 44px;
      line-height: 0.5;
      border-color: $mainColor;
      color: $mainColor;

      &:hover {
        background-color: $mainColor;
      }
    }
    & .active {
      color: $mainColor !important;
    }
  }

  &__dark-placeholder {
    background: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 95px;
    left: 0;
    right: 0;
  }

  &__cart-btn {
    position: absolute;
    top: 40%;
    left: 28%;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    padding: 13px;
    box-sizing: border-box;
    border: 1px solid #fff;
  }

  &__title {
    font-size: 30px;
    font-weight: bold;
    line-height: .8;
    letter-spacing: 0.75px;
    text-align: center;
    margin-bottom: 16px;
  }

  &__subtitle {
    font-size: 14px;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: 0.35px;
    text-align: center;
    color: #9f9f9f;
    margin-bottom: 60px;
  }

  &__items {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 40px;
    @media (max-width: 414px) {
      all: unset;
      display: grid;
    }
    @media (min-width: 415px) and (max-width: 834px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    position: relative;
    text-decoration: none;
    @media (max-width: 414px) {
      margin-bottom: 15px;
    }
  }

  &__item-image {

    @media (max-width: 1112px) {
      width: 100%;
    }

  }

  &__item:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
    transition: .5s;
    .catalog__dark-placeholder {
      transition: .5s;
      opacity: .7;
    }
  }

  &__item-title {
    font-size: 13px;
    color: $secondColor;
    margin: 20px 15px 17px;
    font-weight: normal;
  }

  &__item-price {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 113px;
    @media (max-width: 414px) {
     margin-bottom: 50px;
    }
  }

  &__more-btn {
    width: unset;
    display: inline-block;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 100px;
    @media (max-width: 414px) {
      margin-top: 20px;
    }

    i {
      margin-left: 9px;
    }
  }
}

.information {
  height: 529px;
  @media (max-width: 834px) {
    height: unset;

  }

  &_default {
    margin-bottom: 100px;
    @media (max-width: 414px) {
     margin-bottom: 20px;
    }
  }

  &__content {
    background-color: #222224;
    padding: 48px 36px;
  }

  &__container {
    display: flex;
    position: relative;

    @media (max-width: 834px) {
        flex-direction: column;
    }
  }

  &__image {
    @media (max-width: 834px) {
      width: 100%;
    }
    @media (min-width: 1024px) and (max-width: 1112px) {
      width: 60%;
    }
  }

  &__sale {
    position: absolute;
    top: 130px;
    left: 39px;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #ffffff;
  }

  &__sale-title {
    font-size: 53.5px;
    letter-spacing: 1.34px;

    @media (max-width: 414px) {
      font-size: 30px;
    }
  }

  &__sale-subtitle {
    font-size: 32px;
    @media (max-width: 414px) {
      font-size: 23px;
    }
  }

  &__item {
    display: flex;

    & > i {
      font-size: 36px;
      color: $mainColor;
    }
  }

  &__description {
    margin-left: 33px;
    margin-bottom: 42px;
    margin-top: 7px;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #fbfbfb;
    margin-bottom: 17px;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.35px;
    color: #fbfbfb;
  }
}

.subscribes {
  height: 438px;
  background: url("../images/subcribes_image.png") no-repeat;
  background-size: cover;
  @media (max-width: 414px) {
    height: unset;
  }

  &__avatar {
    width: 83px;
    height: 83px;
    margin-right: 38px;
    transition: .5s;
    &:hover {
      transform: scale(1.2);
      transition: .5s;
    }
  }
  & > .container {
    display: flex;
    padding-top: 111px;
    box-sizing: border-box;
    @media (max-width: 414px) {
      flex-direction: column;
      padding: 20px;
    }
  }
  &__left {
    flex-grow: 1;
    display: flex;
    width: 1px;
    padding-right: 72px;
    @media (max-width: 414px) {
     width: unset;
    }
  }

  &__left-marks {
    display: flex;
    justify-content: space-between;
    max-width: 140px;
    margin-top: 40px;

    & .active {
      background-color: $mainColor;
    }
  }

  &__left-mark {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
  }
  &__left-content {
    display: inline-block;
  }

  &__left-description {
    margin-bottom: 20px;
    font-size: 16px;
    font-style: italic;
    line-height: 1.63;
    letter-spacing: 0.4px;
    color: #222224;
  }
  &__left-autor {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.17;
    letter-spacing: 0.3px;
    color: #222224;
    span {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.63;
      letter-spacing: 0.4px;
    }
  }

  &__right {
    flex-grow: 1;
    width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222224;
    padding-top: 37px;
    box-sizing: border-box;
    @media (max-width: 414px) {
      width: unset;
    }
  }
  &__right-title {
    font-size: 24px;
    line-height: .75;
    letter-spacing: 0.6px;
    margin-bottom: 15px;
  }
  &__right-subtitle {
    font-size: 14px;
    line-height: .81;
    letter-spacing: 0.35px;
    margin-bottom: 35px;
  }
  .input__wrapper {
    height:46px;
    display: flex;
  }
  input {
    outline: none;
    height: inherit;
    width: 287px;
    border: none;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    padding: 18px 28px;
    box-sizing: border-box;
    background-color: #e1e1e1;
    @media (max-width: 414px) {
      width: unset;
    }
    @media (min-width: 415px) and (max-width: 834px) {
      width: unset;
    }
  }
  &__submit {
    border: none !important;
    text-decoration: none;
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    width: 104px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    span {
      line-height: .8;
    }
  }
}

.footer {
  &__container {
    display: flex;
    padding: 109px 0 89px;
    box-sizing: border-box;
    @media (min-width: 767px) and (max-width: 1024px) {
      padding: 15px 10px;
      flex-direction: column;
    }
    @media (max-width: 414px) {
      flex-direction: column;
      padding: unset;
    }
  }
  &__container_bottom {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 414px) {
      flex-direction: column;
      padding: 15px;
    }
  }
  &__body {
    height: 458px;
    @media (max-width: 414px) {
      height: unset;
    }
  }
  &__bottom {
    height: 80px;
    background-color: #e6e6e6;
    @media (max-width: 414px) {
     height: unset;
    }
  }
  &__body-left {
    width: 430px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.35px;
    color: #898989;
    margin-right: 64px;
    @media (min-width: 767px) and (max-width: 1024px) {
     margin-right: unset;
    }
    @media (max-width: 414px) {
      margin: 10px;
      text-align: center;
      width: unset;
    }
    @media (min-width: 767px) and (max-width: 1024px) {
      width: unset;
    }
  }
  &__description {
    margin-top: 25px;
  }
  &__body-right {
    display: flex;
    padding-top: 14px;
    box-sizing: border-box;
    justify-content: space-between;
    flex: 1;
    @media (max-width: 414px) {
      flex-direction: column;
      padding: unset;
    }
  }
  &__menu {
    @media (max-width: 414px) {
      text-align: center;
    }
    & > ul {
      list-style-type: none;
      padding: 0;
      margin-top: 29px;
      @media (max-width: 414px) {
       margin-top: 10px;
        margin-bottom: 20px;
      }
      a {
        font-size: 16px;
        line-height: 2.17;
        letter-spacing: 0.4px;
        color: #898989;
        text-decoration: none;
        &:hover {
          color: #cfcccc;
        }
      }
    }

  }
  &__menu-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.44;
    letter-spacing: 0.45px;
  }
}

.copyright {
  font-size: 16px;
  line-height: 2.63;
  letter-spacing: 0.4px;
  color: #7a7a7a;
}

.social {
  display: flex;
  width: 208px;
  justify-content: space-between;
  &__icon {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryColor;
    cursor: pointer;
    &:hover {
      background-color: $mainColor;
      transition: .5s;
      i {
        color: #fff;
        transition: .5s;
      }
    }
    &:active {
      background-color: #ffffff;
      opacity: .5;
      i {
        color: #b2b2b2;
      }
    }
    i {
      font-size: 16px;
      color: #b2b2b2;
    }
  }
}